<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>AA3D5B2E-5662-4D3A-B5D3-07710DB02173</key>
		<array>
			<string>F636DF32-DE4D-4B65-AAC3-C7B449DA0D88</string>
		</array>
	</dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 651}}</string>
		<string>{{266, 0}, {987, 651}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>2C8BD9EE-8451-4B22-9E1B-99F4B2147EDA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F0DC2EA-A527-4DF6-9487-3229BDD9F74E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>59D63E84-C126-4B1B-9D2F-9068AE86B61C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68F9DB8A-73A7-4E9C-9336-36748787D6CB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>73EF6ACD-461D-429D-882F-E4C38BEEACCD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>81F6E3E1-2136-419A-8CAA-8F396FA99BC6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8808F984-98C1-448C-8127-55D1C73E1906</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>889E32AF-7758-4D7E-BE7F-CA5C1A9A14C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8C792DD2-0D6E-4DB4-B5D3-E82BB5EAA949</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A34D73C0-C3ED-4B4F-A5F4-1B42F9E460DE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A9118B3A-2C2F-48AF-B60F-0152A3C88202</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE1A55ED-C58C-457E-A084-C8E72103D861</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {741, 621}}</string>
		<string>{{742, 0}, {245, 621}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {726, 533}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>243 352 1253 679 0 0 1920 1055 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
