<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CollectionSelections</key>
	<dict>
		<key>2655DDF6-4AB8-42CB-A433-1CD76FC351D2</key>
		<array>
			<string>45209637-665C-4F0F-BD88-126D4F420926</string>
		</array>
	</dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/whaynes/ptx/IME/source</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>B915C13D-C3B5-4152-98E3-59C8F83FBF02</key>
		<dict>
			<key>BinderUUID</key>
			<string>B915C13D-C3B5-4152-98E3-59C8F83FBF02</string>
			<key>CurrentMetaData</key>
			<integer>5</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<true/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 0}, {475, 304.5}}</string>
				<string>{{0, 305.5}, {475, 108.5}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>741 469 475 522 0 0 1920 1178 </string>
		</dict>
	</dict>
	<key>QuickRefFloatBehavior</key>
	<integer>3</integer>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>UnhoistedBinderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>254840B2-918A-4980-9B4D-C9B3A774FB9A</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>BB89721F-361D-4DC6-B9DC-70E2BE85968E</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>annotationColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECcw
	LjIxNTY4NjI3NjYgMC42NzA1ODgyNTQ5IDAuOTQ5MDE5NjEwOQAQAYAC0hAREhNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
	dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCVoKmxtL3P0tcAAAAAAAABAQAAAAAA
	AAAZAAAAAAAAAAAAAAAAAAAA2Q==
	</data>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {590, 691}}</string>
		<string>{{591, 0}, {999, 691}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>04494ABB-2F1F-4712-8EF1-320DFDD980A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>068835F8-FD16-4D17-ACF3-AE85D16FE27A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>06BFC16C-1549-4C96-AE9E-2705CC489816</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0778B444-3F1F-4924-83BA-B2AB7028AC3E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0937A5B6-1F2E-4633-A7C7-761C61149A0A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0A1D0C12-DED3-4F96-955C-EAD9D005E81A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B196510-70ED-4FF5-8586-2F113DAC798D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10D3E5BF-14AA-48A8-BC39-633A0D8AA4C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>12053E2E-E8DD-40D1-A3CB-66601CC25658</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>124BAB9A-8CEB-4F79-A650-587B56EEBB99</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>130C3B5B-0269-4F29-9227-23F537DF5289</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>13F6D922-B201-4C62-A1DB-50FE5DB88A38</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>157A836C-A7B7-4B36-B51F-12BCDEB4A614</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>15A3F12D-4BFA-4CB8-9422-CCDE094256DA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1622CDC1-7104-4E07-8079-6E237D15310C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1896A686-5B54-4E99-A8FE-90AFE9D0CCAF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>19454B2C-2696-408E-8B82-B78117357709</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1B0E7E6A-7717-4917-BEE8-C76AE69D5B9C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1BBD2661-5AC0-4B03-99AD-58898FA3ED4A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1CB996C0-251D-4B0B-852C-A8B7E4087242</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D099C1C-1253-43A5-96FE-E29AE86FCFFE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E9FAE01-43E8-496D-9611-F1B3C7714B32</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1EAA5AD2-6ED9-46C1-9B51-4C7C27553D20</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>246C1631-629E-413B-ACB7-7D78F2B95105</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>28C0113E-7F42-47CE-8968-0B617023C799</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>29B7380E-FDA3-423A-98C6-A8BF28C80CE5</key>
		<dict>
			<key>DocID</key>
			<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>29D2E94C-4DC2-4C06-B583-B6C9F812A9BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2A55F37D-A365-4465-8719-216382BD6DD0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2AE291A7-D514-45A8-BE69-00E40B0B0DA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B14386D-4764-4221-981A-8B39F6F41FEB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C0BF3FF-80C6-47F3-867E-DCADAAEA3FFE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2CB24D73-93D0-48ED-83CF-B5E7397530AE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2FC6B2FB-843A-4113-A714-4271CBF08F5B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>30B17F6E-A9C7-4D9F-B7D6-7D4CD3DF4B63</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3417D2B5-0419-4EFA-A274-5807C3A792BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3695BC9D-C479-448A-A1C2-2302929EDF54</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>36F31890-6A30-4FCF-96F9-B1BC585F5143</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>377EDF5F-00B5-4B2F-AF61-B16E36B0E3AC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>38EF1A22-2FED-4791-99E3-C5B559702342</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>39EAD08B-C954-42EE-9182-AD58CCEB69C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3C657B97-7CF9-48FD-8AF7-51613215FE0A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3CD85F21-43FF-4211-BE45-82D3C0B928C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3DE53314-5F55-4690-AEC1-FDD4F53B0FDE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3DF517E3-F28A-4318-BF3A-33F548D3D21B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3E751865-BAB0-4010-B69D-0045A1717350</key>
		<dict>
			<key>DocID</key>
			<string>FD64525A-22FB-4EDD-BBD0-372BE8E7BFED</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>3EB12088-3E02-469A-864E-544F99A6E31B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F8C7A5A-D5F1-4234-A2FA-DDE0EEC1A3F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>40003413-48B8-42C9-A83F-9DF7008BDEC4</key>
		<dict>
			<key>DocID</key>
			<string>CABA735D-13FC-4B0A-ACA4-4178C6EE7E76</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>4128C1A8-5420-4055-BE29-2E943EFD3EFD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>416D5B58-5520-4572-8369-A66EFB483AAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>418A2E61-20EE-4792-8C74-AC27983B9DC4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>421B2EAF-A06A-4C9D-B8EC-73AF68C0A1BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>435467CD-C2A4-4E5A-AA70-FE5698F728AE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>45209637-665C-4F0F-BD88-126D4F420926</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4660D161-B625-416F-AA5C-01558040ADED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>46DE4B2C-E4CE-47A3-AE71-182F38391F76</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>47D757C9-3277-4B01-A14C-A33910345536</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>47F89457-9911-473F-8776-23E1BBA07274</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4914CD20-1A2F-441C-A5F8-B1024865BA7D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A8EA5D7-4177-46D9-BFBA-EAAA4E4FDA2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4BB02E29-15A6-42B8-A3D7-95BE9B5774F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4CBD613E-F131-40C8-BCB2-2A77E53F2AAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4EA9162B-F58C-4753-A5C5-B09555E5F6F8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4ED8251C-CCFA-444E-83AD-3062C476E92D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>507F9C6F-5292-4381-B8D1-46E50CD5B1D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>50D7C81B-9233-4D9A-AFBC-7EA8FCEB9683</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5120A7E2-BB5A-4588-9EC2-8D931AC37F1D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>556FEBAE-7103-40A0-B3DD-F17C18E0B3E7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>56407EA7-C110-49D9-9DE0-DB12C632FB0B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>575D7532-DA11-40A8-9FA0-AF04E3565DAC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5A166DDB-5945-4B15-ACAD-32106A587E9F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5BD2D5E0-0F9A-43F1-9395-844381A5A7CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5E128A02-83BD-4EAB-9DED-CC1686CF8A51</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5F2DE4DE-F405-46D1-A133-7B8A576F7AE3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5F4E8B73-80B9-4E7B-9DBA-3BE4C036BE26</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>605273E1-9C2F-40A5-AE93-F1790AB6CC61</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>606E2F6A-318D-44EA-A9BC-81093A72CD2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6229C4ED-75B1-40F3-961B-58E3C50039C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>64609F4A-915B-4DD5-8D34-016884BFAE82</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>666815FB-B502-49C1-B94F-1F098EDCF2A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66D2EE27-1CFD-41E0-87FE-56B7D0C113DB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66E78489-5E26-4645-B3E5-EE2B8D9CB779</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68632AA2-1CE8-4D5A-8E5A-B1D8FD4F8DC2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68966C5D-5501-4DAC-922E-DD0ED13BAC35</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68DBF234-7E42-464F-A117-CBEF4FC1959A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A22B41C-5384-4564-8263-4EBC6964F563</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6AF51666-AD23-4165-9B39-A88A32B4E7F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6BF1DD9F-FC0F-4E60-8312-8BF30D0D909E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6EF336BE-794D-414D-B7C2-4AE1BD92AFB9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7048E182-C296-480C-88A9-9829399BD0BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>70826CB7-0D02-4CF9-923F-F917A1E753E8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>717A40B8-DF0A-4ABC-AA24-AD741274CB2C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>72DD5F8A-10B4-4DE3-A45C-66EA6D07043F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>73C0BBB7-555C-4DC8-8F32-60BDDA3BE15A</key>
		<dict>
			<key>DocID</key>
			<string>C363C175-FF49-44A7-B4D4-26254B6FDDCB</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>759750A9-2A37-4BA3-8494-E4E627A18D82</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>778760A0-0FE1-4D7F-AC1D-726BFBF97560</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>78AA1AEA-4EB1-4172-97E7-9A4D86D684CE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7A66EC76-E29F-44FD-B743-3CBC1C1F49FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7ACB8998-107A-4AA8-90CF-431405A28976</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7D4E10FC-0485-453E-AEE2-F5EC9B5A0968</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7EEB2BC5-4B85-42C6-B7E6-88BFFF5AD3CF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F28FF60-46C2-4A6C-B1E1-F9078A3DD81F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F36E1E8-5268-41DE-B900-5541DA073025</key>
		<dict>
			<key>DocID</key>
			<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>7F9EA64E-F5C9-4FFE-8084-5F8CC8C154D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>80C33E36-0801-4A63-9C39-891C598694D4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>832E8FF9-FD0B-451B-B395-CE0805377C1B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>834809F7-B755-45E5-883B-91B5CDFE2F40</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>84B0C8C6-9639-4B8C-B047-F2C663DA30FC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>865C04D9-C0B6-4C10-8650-47AD1C5BFA0A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8CEC1110-3BF8-4F9D-9A92-466A0BDAB4E2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D937971-84B3-4D83-B019-78A026565DC6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8ECCBCCE-C0A6-41A0-AD48-8268FE3E9605</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>90904326-E79D-4D52-88EA-B87F0A2DF6FF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9201FC73-C5B0-4339-9102-014A68698E2C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>938F0E41-C0A2-4BC7-805B-5408D8447ED6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9459400B-2C11-41BA-83DE-7A07232DCE88</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96776348-B035-46DA-A5A5-210E99B93774</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>968B769B-B852-4FBF-9305-040B9807D51E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9713799D-2682-496D-ABEF-EE32613EC418</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9821973F-2A35-4B0D-9D2F-1870DF258065</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9822F29A-1369-4670-BD26-B60F469484C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9941B3B9-71C0-413B-B7CE-1E11CF89A97B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A75722B-71A7-49CF-8675-1CA11AB86F12</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9CCEF9D8-6209-43BA-AC2D-B598B627B59F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9D380E83-3DCE-4B36-8F98-19DDADFDA2AB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E616309-8789-4680-BDFB-F857A5A393B8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FABC90E-40A3-47FB-A94C-F7E5B68F0DCF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FFBA333-8432-41C1-91F5-1302DFE283CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A120C758-42C8-4BCF-8621-3564E68B9D8C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1853E23-F592-4F38-ACD2-B45E1E3DFAAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1D9D61E-0C96-41B1-8BAE-1129499CB9C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A2D7D3F5-8D65-4F0E-8FFE-2C22F7D31D2E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A30B3C69-C741-4C8D-BB24-90C253FB20D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A6A9868B-5EED-4215-8962-55E54E65ECD4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7CD7424-10A4-46C9-86DF-CEE1C95BD019</key>
		<dict>
			<key>DocID</key>
			<string>E7267761-7DE6-41D2-8966-B70B2CFD8B1A</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>A84E87C2-F194-43E1-AA05-C683D75DD089</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A87C6926-5E86-45CB-88E8-5CE5A6B31799</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A9AE10C7-8FC8-44F9-AE40-9ABE2BA33C47</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AB696839-9D3B-4B26-A9E2-52A1BEDB419C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ABF48A7A-3E9F-4753-A357-8A81AE87BD7F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AD588003-BCAF-4892-AA04-27F34FD8F390</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AEAA6C83-A92B-404C-BFEB-5EB0BB94DCB5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AEE20B5C-66A5-4EC8-B41C-46FEEA433B10</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AFFCA78C-BBA3-49D0-941B-EED8627E97CD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B0417A1B-D617-4CBD-900A-14A6AB12C289</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B0556695-9CBD-4E79-8BE2-796A4611C7DC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B14C7D1B-9A98-4B2C-B084-F28FA0C0D9BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B2790157-F0AE-4874-8784-E8DECE91A3C9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B29E8A56-458B-4892-9F06-29117E69B710</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B4160240-D3F2-4671-BB49-C7ED2355A35C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B5272AC1-9085-42B9-8300-B7F470FB521B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B5C94A30-4BCD-424E-B909-8E2FD9BAFED4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B5DBAA1F-6761-4A0E-B238-A4885E935DD3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7C1CFED-E97A-44F3-B6DF-C019FB98B20B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B8855899-B5E1-41B4-B155-C4850A606B7F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BBAB16E3-15C4-44D9-8C3C-0A476B25D48E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC72A4A6-86D4-4410-8CC1-6BFE2E2A28B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE25DCA8-D7FE-4E8E-93F3-4BE28860B973</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C053FFD2-8843-4E96-94EB-E5AD1FD9C2FD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C3514F0D-7F45-4788-8673-18B34BAF0E80</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C363C175-FF49-44A7-B4D4-26254B6FDDCB</key>
		<dict>
			<key>DocID</key>
			<string>73C0BBB7-555C-4DC8-8F32-60BDDA3BE15A</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>C3A58231-D089-451E-9706-2C91F40C9BE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C3E6032B-9DA1-4D17-92A2-2ED324CAC54A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C40033F9-AF5C-48AA-8585-C1EC3767727A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C67F0FDD-D13C-4666-9D48-CA8FFD41C1A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA520FD5-3488-4DAB-9E06-C3147927C1B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CABA735D-13FC-4B0A-ACA4-4178C6EE7E76</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CAF5E3C6-A254-4E94-9566-770E00951DED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBBC0D8D-2D52-4BD9-B8CB-36E5F079A0CD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD5C5F6A-5192-408C-AF49-E96548F14E05</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CE8CEB48-1C64-4264-9B8F-E4558F72DD22</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CEF28B7A-F007-4ADB-9C70-5CD6DD16E15F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF0E5DE0-6F37-4E87-B8FF-EBC756B48B3C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CFF7FA8B-49D7-44A5-842A-36DF47E969EE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D047E985-8A1E-4C43-BA67-4EB4B8EC5EFB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D28757E1-1FEB-439C-A8C9-D62E91C1F250</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2CF9B80-9FA0-4746-9A82-508A32070B93</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2EE4E48-AF65-4C3E-A5DF-1A65B39ABF05</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D313F84A-0A1C-4083-8865-6C4E01F68A96</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D4499CD7-4218-4DDD-8ACB-A8A39325A1D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D4697A0B-C252-45BF-8B7A-AC92F8721B7B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D50E388F-1E24-46E8-A114-1B0692D8A28C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D7A97EE0-AB91-42FD-809A-7A1EAF8439C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB14BD53-7DE5-4FF2-B4B7-765C74300374</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC0B81DD-D941-4E44-A4E8-1F7937358AF7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC2E4A35-5421-40D3-8922-33DED5F19CD3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC8A5074-8182-44F4-BE8B-80156D065A8E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DE874D11-C7EF-4EE4-AEC4-705682EAE532</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E1647FEE-606B-4A1D-93FC-E340C72A2780</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E5053EE6-B45F-4083-9EB2-CC7D4399EA1E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E548EA7E-3B24-4759-B990-897489AA3C14</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E7267761-7DE6-41D2-8966-B70B2CFD8B1A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E76A8533-BA05-48D4-A671-DCE599BD10F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8EE84AD-30C5-4514-8297-EA03BD57B8C5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA75B660-3DFF-4017-9463-C04EB252C7FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAF1A50C-D6E7-45EE-8719-5097F2A5FBE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF069A83-E56B-4BF4-956B-3F444E307B6D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF444405-9209-4695-892C-21AAA9F96164</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EFA2C3C7-744D-46E6-9D70-426E41B1F666</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F17DBF90-4352-48EE-A9E8-04C0152B914C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F1C174F9-60B0-4EA2-BFF4-A3E9297419DD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F4A92438-A5C0-44C6-A400-F1A19E8CF612</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F6F779AD-4E75-4457-9FB8-E1775A2D83E6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F7FC9C77-C4AE-4BA2-B90C-1F42F2E46076</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F889DE4C-5C1D-4B23-8A70-2BAC55B3528B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA5BD718-71F4-4698-9B78-2D374ED1FE07</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC117564-9643-4839-BCF7-1689F843E8B3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FD64525A-22FB-4EDD-BBD0-372BE8E7BFED</key>
		<dict>
			<key>DocID</key>
			<string>3E751865-BAB0-4010-B69D-0045A1717350</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>FE008DD8-B859-4B1A-BDE7-6C0C79EACC2B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>DocID</key>
			<string>BB89721F-361D-4DC6-B9DC-70E2BE85968E</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsHeight</key>
	<real>118</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {223, 118}}</string>
		<string>{{0, 119}, {223, 1011}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {592, 224}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {752, 661}}</string>
		<string>{{753, 0}, {246, 661}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>263</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
	</array>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>93 161 1590 719 0 0 1920 1055 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {737, 573}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
