<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CollectionSelections</key>
	<dict>
		<key>2655DDF6-4AB8-42CB-A433-1CD76FC351D2</key>
		<array>
			<string>45209637-665C-4F0F-BD88-126D4F420926</string>
		</array>
	</dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/whaynes/ptx/IME/source</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QuickRefFloatBehavior</key>
	<integer>3</integer>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>UnhoistedBinderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>254840B2-918A-4980-9B4D-C9B3A774FB9A</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>BB89721F-361D-4DC6-B9DC-70E2BE85968E</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>annotationColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECcw
	LjIxNTY4NjI3NjYgMC42NzA1ODgyNTQ5IDAuOTQ5MDE5NjEwOQAQAYAC0hAREhNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
	dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCVoKmxtL3P0tcAAAAAAAABAQAAAAAA
	AAAZAAAAAAAAAAAAAAAAAAAA2Q==
	</data>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {311, 760}}</string>
		<string>{{312, 0}, {1608, 760}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>018B1F5D-7CBC-4DC2-8D11-5B5365194BE8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>03A183AC-18F9-4E0F-8A9D-8D9A47B68DB2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0A1D0C12-DED3-4F96-955C-EAD9D005E81A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B196510-70ED-4FF5-8586-2F113DAC798D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0E92616F-0E9F-48DF-A00E-2B65FAD6AFAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0F7C9905-9BDE-4D8A-A927-5DA9AE336EAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>105530C1-8E65-4E5C-8558-ABBBC0E78501</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1095E012-8CC6-4444-94E9-E59DB68554D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>12053E2E-E8DD-40D1-A3CB-66601CC25658</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>124BAB9A-8CEB-4F79-A650-587B56EEBB99</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>13F6D922-B201-4C62-A1DB-50FE5DB88A38</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>15A3F12D-4BFA-4CB8-9422-CCDE094256DA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>167FE95C-777C-46A4-8B2C-C0FE550DA332</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1712D062-7169-42DB-B312-64BA4BE461A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1BBF0AA5-EC52-499C-99D2-1C2C6DCDFB84</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1CB996C0-251D-4B0B-852C-A8B7E4087242</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D099C1C-1253-43A5-96FE-E29AE86FCFFE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E837A1F-E3FD-4130-A549-69070D241E53</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>206FAC30-97D3-4070-B164-3DA231233971</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>215C5B4E-92FE-41B1-A84A-F00FCAAFD06F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>21A6FB56-2D8C-4FC5-BA53-7FA658186E65</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2396AEC7-B4DC-4946-BA72-5A07420AA072</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>275F7907-CEA1-497B-BC1C-F06954AB9524</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>28D8EC7F-07A2-4DE3-A262-4129AAE85CBD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D059D8F-494A-45E6-9954-9E531EF07B6F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D47BDF2-EB57-4CFD-826E-AB70FD8946A8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D8576B6-E101-4CD4-A195-304F9570EE20</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D975C73-757E-4FC2-9227-7CCDE1218463</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2EF2EEE6-C7EF-437E-95EC-A425AC8CF51E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2F3949EE-0DEA-4AF2-BFA1-70AACFF382A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>316CF969-7B9C-4458-8EA3-8C8AFA4284D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3398E671-B9ED-4B34-A476-CE7BDDAE3994</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>34014151-A0E1-4C76-A85F-CA46CEA1AF00</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>39EAD08B-C954-42EE-9182-AD58CCEB69C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3BFA5BA8-DFA0-460E-A38F-A2B9A4084A3B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3CD03BD1-24CA-4A84-B699-27DE5B4BF51C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3DF517E3-F28A-4318-BF3A-33F548D3D21B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3E7356BD-DA31-43FF-8A57-CC4580EC322C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F770F4B-2E9C-45FE-91DC-1F0529095F9C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F8D15C4-4FC7-4C0A-BD83-F2E6526513A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4128C1A8-5420-4055-BE29-2E943EFD3EFD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>416DB2BB-CAF6-4CAA-BD38-12B589E1BB1B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>418A2E61-20EE-4792-8C74-AC27983B9DC4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>421B2EAF-A06A-4C9D-B8EC-73AF68C0A1BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>42A75A9B-5EDE-4011-851B-47B5B46E0BEF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>44491009-8E5B-4730-AB86-E89115037679</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>446F694B-EBA2-4C8F-9E26-3FE4F3F4A0D2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A8EA5D7-4177-46D9-BFBA-EAAA4E4FDA2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4BB02E29-15A6-42B8-A3D7-95BE9B5774F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4CBD613E-F131-40C8-BCB2-2A77E53F2AAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D0385E8-AA46-4DBB-AFE8-A6EE3ED9AF19</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4DB0BBD2-EFB1-48F2-A91D-9657941C7452</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4ED8251C-CCFA-444E-83AD-3062C476E92D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4ED9208F-5DC3-4F69-9D22-3A96F0511552</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>507F9C6F-5292-4381-B8D1-46E50CD5B1D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5120A7E2-BB5A-4588-9EC2-8D931AC37F1D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>556FEBAE-7103-40A0-B3DD-F17C18E0B3E7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>56A3D2BD-399A-4E7C-AFDE-0A84E6B9106B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>573B3C76-4FFA-4439-80C4-F401B2DA74FD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>575D7532-DA11-40A8-9FA0-AF04E3565DAC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5BA168C1-9A91-4536-95AD-7CDB7BB77CBF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>605273E1-9C2F-40A5-AE93-F1790AB6CC61</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>606E2F6A-318D-44EA-A9BC-81093A72CD2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>61AE1694-8DF6-44E3-A7EB-61F20EDA72BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>62422D85-1CB2-41DA-A6F8-92122F08779D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>628E6611-8744-42F0-B6C9-70663C1385F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>64609F4A-915B-4DD5-8D34-016884BFAE82</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>666815FB-B502-49C1-B94F-1F098EDCF2A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66E78489-5E26-4645-B3E5-EE2B8D9CB779</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68250206-0728-4659-A41B-FEEBEDA9A0A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6AF51666-AD23-4165-9B39-A88A32B4E7F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6BF1DD9F-FC0F-4E60-8312-8BF30D0D909E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6D899136-E788-4290-B821-C609E552BE15</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6E7A2EF5-7A2F-43BF-AFD6-57D5ACF91B9D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>736C0DE4-8179-405D-ACE3-C43ABC28C9B8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>759750A9-2A37-4BA3-8494-E4E627A18D82</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>798450C6-05DD-491F-99DF-AF351ECEB812</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B12A412-3265-4506-A8DA-AA76D35FF994</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F9EA64E-F5C9-4FFE-8084-5F8CC8C154D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>80ABB92B-AA66-4D84-AD2F-59ADEDDBDA4A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>81075C45-DA88-4D0E-8CD4-3FDA87252332</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>815BC044-2586-4291-829E-F0C6DD075585</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>82C9A66E-F17F-41D5-94DA-606D917485AA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>87628BD8-4478-490C-BB11-8BDCAF1F32BF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>88A6BBF1-113F-4D38-8FD6-E54B349E830B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D3ACAC0-D3C2-44E6-86D0-2026E120E330</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8ECCBCCE-C0A6-41A0-AD48-8268FE3E9605</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>90904326-E79D-4D52-88EA-B87F0A2DF6FF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9201FC73-C5B0-4339-9102-014A68698E2C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96776348-B035-46DA-A5A5-210E99B93774</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>968C80D9-D89F-4198-95D9-B18F5128F14E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>970629F8-F64E-4038-889F-C04A7A4BB900</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9822F29A-1369-4670-BD26-B60F469484C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98AB2B8D-DCDB-44ED-B650-63C8F1B6E92E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A3EABF7-24EA-49E5-9CFF-473DF220E1B0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A588431-F7BD-483F-8AED-2EA5D8CAE96D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C10A308-3E10-429C-9719-E1D92271375F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C1CFB4A-2197-4E0C-863D-20DE31B9D9C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C73A7A6-9361-4BFD-8989-EE4EEC8586BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9D380E83-3DCE-4B36-8F98-19DDADFDA2AB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E616309-8789-4680-BDFB-F857A5A393B8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A0F93C81-06B5-4B1B-A48A-B30F2D0811C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1979457-5EC2-4E4F-A863-96713D714845</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A28CAD9C-E25F-491F-909D-91FAE235F821</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A2D0B8D4-7A0F-4DE2-A4DF-7EEB298DA851</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A30B3C69-C741-4C8D-BB24-90C253FB20D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A36A6298-BD0F-4435-84DC-D75571B55723</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A5939888-3FD9-4A03-A41A-8968EFF51C0D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A6A9868B-5EED-4215-8962-55E54E65ECD4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7065115-8268-4B85-9004-567504A4909C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A84E87C2-F194-43E1-AA05-C683D75DD089</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A87C6926-5E86-45CB-88E8-5CE5A6B31799</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A990D340-8B32-4517-8774-146C3611D206</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AB16E7CF-9AA4-4E22-8A05-D325663E3D1A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AB696839-9D3B-4B26-A9E2-52A1BEDB419C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ACF48FB2-976F-4B2D-831D-90CAB103E92F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AF33F8DB-CB47-4B25-AC83-ED660D0BDB9E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B2790157-F0AE-4874-8784-E8DECE91A3C9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B4322451-5A8B-4349-9F67-C0B136B9EFA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B4675891-01A4-4EBC-AF54-F57151643795</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B558922B-5461-4ED8-8B08-C5826A44EAC5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B6E03637-F601-430B-B9D5-83DCE200C367</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7284B7E-6877-461F-86AD-F9D365AF130D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B9258393-07D4-4BDB-9E5B-27890F672E06</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B9CEA66D-FC23-414D-BAC3-4ECE0B5134CF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BA0DCC9C-FB8C-4014-AD8D-861B079A7C95</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BA0FA56C-C2AC-4652-8205-C47CE261A96D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC72A4A6-86D4-4410-8CC1-6BFE2E2A28B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BF0E7F5C-4E54-48EA-B5D4-E752F704D087</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BF694E5A-7361-4E7F-B590-923467F69686</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C053FFD2-8843-4E96-94EB-E5AD1FD9C2FD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C2BA585A-869D-426E-A8FB-42649BEE89F5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C7917DAF-D2EF-486B-A9FB-0F19F72F2C33</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA520FD5-3488-4DAB-9E06-C3147927C1B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBBC0D8D-2D52-4BD9-B8CB-36E5F079A0CD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CE042EEC-0FBB-47A7-8333-9AE5CD612417</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CE8CEB48-1C64-4264-9B8F-E4558F72DD22</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CEB08A07-53DB-427C-A474-CF4D87FB2379</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CEF28B7A-F007-4ADB-9C70-5CD6DD16E15F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF0E5DE0-6F37-4E87-B8FF-EBC756B48B3C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CFF7FA8B-49D7-44A5-842A-36DF47E969EE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D12972CA-CB81-41A4-9EB7-AA3900DEE4FB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D4499CD7-4218-4DDD-8ACB-A8A39325A1D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D4B4D958-C454-4CB9-9B25-236E6D2BCA85</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D54597B2-D9CF-426A-ADD7-80FF26434B0F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D9C51DF8-1157-4ABB-A4ED-C5F49CC0A325</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DBFA52DC-1D9F-4D57-BD9D-86C083DCB06F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC0B81DD-D941-4E44-A4E8-1F7937358AF7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DCECC3FA-C62E-4CC9-B14E-6770A3598865</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DD4C0EFA-CFAE-43D1-A226-7F8AA3E61A9A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DE060C11-1F97-4372-94D2-6B5D3DD8302E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DE874D11-C7EF-4EE4-AEC4-705682EAE532</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DECCC6AE-C47C-43FD-A971-6BA5F752746E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E1703ADD-4B7B-4EA5-A30A-7CCA25222A0C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E5053EE6-B45F-4083-9EB2-CC7D4399EA1E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8B35A66-8092-4914-8847-64DAA523FA34</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E93166CF-D418-46C0-9E00-9B0F52CBE589</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA75B660-3DFF-4017-9463-C04EB252C7FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAF1A50C-D6E7-45EE-8719-5097F2A5FBE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB2EC9AB-5C47-49A3-8A53-FD60DE94D62E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EBE74B50-0022-4566-B284-A0A024296210</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED35AD9F-4804-45DC-A3FB-E650A2F0AB58</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF069A83-E56B-4BF4-956B-3F444E307B6D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF444405-9209-4695-892C-21AAA9F96164</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F17DBF90-4352-48EE-A9E8-04C0152B914C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F4A92438-A5C0-44C6-A400-F1A19E8CF612</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F51C484D-2F0C-42DE-B87B-22906030F74D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F6BD64BD-D085-4933-AEEB-9580D810A65C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC117564-9643-4839-BCF7-1689F843E8B3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FE240C34-3316-4080-A433-65BA7E9ADA4A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FEF72D55-55BA-4DC5-B68E-E934BDBE09B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FFEFC8E2-337C-4BAA-8889-830500F847A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsHeight</key>
	<real>118</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {223, 118}}</string>
		<string>{{0, 119}, {223, 1011}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {592, 224}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1361, 730}}</string>
		<string>{{1362, 0}, {246, 730}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>246</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
	</array>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>0 247 1920 788 0 0 1920 1055 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {1346, 642}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
