<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>CollectionSelections</key>
	<dict>
		<key>2655DDF6-4AB8-42CB-A433-1CD76FC351D2</key>
		<array>
			<string>45209637-665C-4F0F-BD88-126D4F420926</string>
		</array>
	</dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/whaynes/ptx/IME/source</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>B915C13D-C3B5-4152-98E3-59C8F83FBF02</key>
		<dict>
			<key>BinderUUID</key>
			<string>B915C13D-C3B5-4152-98E3-59C8F83FBF02</string>
			<key>CurrentMetaData</key>
			<integer>5</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<true/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 0}, {475, 304.5}}</string>
				<string>{{0, 305.5}, {475, 108.5}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>741 469 475 522 0 0 1920 1178 </string>
		</dict>
	</dict>
	<key>QuickRefFloatBehavior</key>
	<integer>3</integer>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>UnhoistedBinderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>254840B2-918A-4980-9B4D-C9B3A774FB9A</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>BB89721F-361D-4DC6-B9DC-70E2BE85968E</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>annotationColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECcw
	LjIxNTY4NjI3NjYgMC42NzA1ODgyNTQ5IDAuOTQ5MDE5NjEwOQAQAYAC0hAREhNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
	dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCVoKmxtL3P0tcAAAAAAAABAQAAAAAA
	AAAZAAAAAAAAAAAAAAAAAAAA2Q==
	</data>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {590, 691}}</string>
		<string>{{591, 0}, {999, 691}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>7A583553-3A84-40D6-B9B9-0430B8CD3E39</string>
		<string>6C3BDCCC-F6C3-4AF9-B7CD-475616712EAE</string>
		<string>96776348-B035-46DA-A5A5-210E99B93774</string>
		<string>0778B444-3F1F-4924-83BA-B2AB7028AC3E</string>
		<string>07B0D7C6-57CE-4D6F-8AD9-11F06A261A5F</string>
		<string>B0417A1B-D617-4CBD-900A-14A6AB12C289</string>
		<string>6B6E864E-D14F-4EF7-8C5F-1D489706989A</string>
		<string>A41BA2A1-C599-43C2-99CC-8C1A7FFC2C24</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>03A183AC-18F9-4E0F-8A9D-8D9A47B68DB2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0A1D0C12-DED3-4F96-955C-EAD9D005E81A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B196510-70ED-4FF5-8586-2F113DAC798D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0E92616F-0E9F-48DF-A00E-2B65FAD6AFAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>105530C1-8E65-4E5C-8558-ABBBC0E78501</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>12053E2E-E8DD-40D1-A3CB-66601CC25658</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>124BAB9A-8CEB-4F79-A650-587B56EEBB99</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>13F6D922-B201-4C62-A1DB-50FE5DB88A38</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>15A3F12D-4BFA-4CB8-9422-CCDE094256DA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1CB996C0-251D-4B0B-852C-A8B7E4087242</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D099C1C-1253-43A5-96FE-E29AE86FCFFE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2396AEC7-B4DC-4946-BA72-5A07420AA072</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>275F7907-CEA1-497B-BC1C-F06954AB9524</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D059D8F-494A-45E6-9954-9E531EF07B6F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3398E671-B9ED-4B34-A476-CE7BDDAE3994</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>39EAD08B-C954-42EE-9182-AD58CCEB69C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3DF517E3-F28A-4318-BF3A-33F548D3D21B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F770F4B-2E9C-45FE-91DC-1F0529095F9C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F8D15C4-4FC7-4C0A-BD83-F2E6526513A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4128C1A8-5420-4055-BE29-2E943EFD3EFD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>418A2E61-20EE-4792-8C74-AC27983B9DC4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>421B2EAF-A06A-4C9D-B8EC-73AF68C0A1BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>44491009-8E5B-4730-AB86-E89115037679</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A8EA5D7-4177-46D9-BFBA-EAAA4E4FDA2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4BB02E29-15A6-42B8-A3D7-95BE9B5774F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4CBD613E-F131-40C8-BCB2-2A77E53F2AAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D0385E8-AA46-4DBB-AFE8-A6EE3ED9AF19</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4ED8251C-CCFA-444E-83AD-3062C476E92D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>507F9C6F-5292-4381-B8D1-46E50CD5B1D3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5120A7E2-BB5A-4588-9EC2-8D931AC37F1D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>556FEBAE-7103-40A0-B3DD-F17C18E0B3E7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>575D7532-DA11-40A8-9FA0-AF04E3565DAC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>605273E1-9C2F-40A5-AE93-F1790AB6CC61</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>606E2F6A-318D-44EA-A9BC-81093A72CD2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>64609F4A-915B-4DD5-8D34-016884BFAE82</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>666815FB-B502-49C1-B94F-1F098EDCF2A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66E78489-5E26-4645-B3E5-EE2B8D9CB779</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68966C5D-5501-4DAC-922E-DD0ED13BAC35</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6AF51666-AD23-4165-9B39-A88A32B4E7F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6BF1DD9F-FC0F-4E60-8312-8BF30D0D909E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>759750A9-2A37-4BA3-8494-E4E627A18D82</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F9EA64E-F5C9-4FFE-8084-5F8CC8C154D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>82C9A66E-F17F-41D5-94DA-606D917485AA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>87628BD8-4478-490C-BB11-8BDCAF1F32BF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D3ACAC0-D3C2-44E6-86D0-2026E120E330</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8ECCBCCE-C0A6-41A0-AD48-8268FE3E9605</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>90904326-E79D-4D52-88EA-B87F0A2DF6FF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9201FC73-C5B0-4339-9102-014A68698E2C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96776348-B035-46DA-A5A5-210E99B93774</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9822F29A-1369-4670-BD26-B60F469484C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98AB2B8D-DCDB-44ED-B650-63C8F1B6E92E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9D380E83-3DCE-4B36-8F98-19DDADFDA2AB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9E616309-8789-4680-BDFB-F857A5A393B8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A30B3C69-C741-4C8D-BB24-90C253FB20D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A6A9868B-5EED-4215-8962-55E54E65ECD4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7065115-8268-4B85-9004-567504A4909C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A84E87C2-F194-43E1-AA05-C683D75DD089</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A87C6926-5E86-45CB-88E8-5CE5A6B31799</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A990D340-8B32-4517-8774-146C3611D206</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AB696839-9D3B-4B26-A9E2-52A1BEDB419C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ACF48FB2-976F-4B2D-831D-90CAB103E92F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B2790157-F0AE-4874-8784-E8DECE91A3C9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B558922B-5461-4ED8-8B08-C5826A44EAC5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B7C1CFED-E97A-44F3-B6DF-C019FB98B20B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC72A4A6-86D4-4410-8CC1-6BFE2E2A28B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C053FFD2-8843-4E96-94EB-E5AD1FD9C2FD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C3A58231-D089-451E-9706-2C91F40C9BE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA520FD5-3488-4DAB-9E06-C3147927C1B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBBC0D8D-2D52-4BD9-B8CB-36E5F079A0CD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CE042EEC-0FBB-47A7-8333-9AE5CD612417</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CE8CEB48-1C64-4264-9B8F-E4558F72DD22</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CEB08A07-53DB-427C-A474-CF4D87FB2379</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CEF28B7A-F007-4ADB-9C70-5CD6DD16E15F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF0E5DE0-6F37-4E87-B8FF-EBC756B48B3C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CFF7FA8B-49D7-44A5-842A-36DF47E969EE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D4499CD7-4218-4DDD-8ACB-A8A39325A1D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D54597B2-D9CF-426A-ADD7-80FF26434B0F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC0B81DD-D941-4E44-A4E8-1F7937358AF7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DE874D11-C7EF-4EE4-AEC4-705682EAE532</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E5053EE6-B45F-4083-9EB2-CC7D4399EA1E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E93166CF-D418-46C0-9E00-9B0F52CBE589</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA75B660-3DFF-4017-9463-C04EB252C7FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAF1A50C-D6E7-45EE-8719-5097F2A5FBE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EBE74B50-0022-4566-B284-A0A024296210</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED35AD9F-4804-45DC-A3FB-E650A2F0AB58</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF069A83-E56B-4BF4-956B-3F444E307B6D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF444405-9209-4695-892C-21AAA9F96164</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F17DBF90-4352-48EE-A9E8-04C0152B914C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F4A92438-A5C0-44C6-A400-F1A19E8CF612</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F51C484D-2F0C-42DE-B87B-22906030F74D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC117564-9643-4839-BCF7-1689F843E8B3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FFEFC8E2-337C-4BAA-8889-830500F847A9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsHeight</key>
	<real>118</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {223, 118}}</string>
		<string>{{0, 119}, {223, 1011}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {592, 224}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {752, 661}}</string>
		<string>{{753, 0}, {246, 661}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>263</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>9FFBA333-8432-41C1-91F5-1302DFE283CA</string>
	</array>
	<key>mainDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>mainDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>251 316 1590 719 0 0 2240 1235 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>excludeAnnots</key>
		<true/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<false/>
		<key>limitLinesPerPage</key>
		<true/>
		<key>lineCountingFont</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQB
		aRiEBVsyNGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgA
		mACG
		</data>
		<key>maxLinesPerPage</key>
		<integer>50</integer>
		<key>options</key>
		<integer>0</integer>
		<key>wordsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.cardWidth</key>
	<real>300</real>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
	</array>
	<key>supportingDocumentEditor.interCardSpacing</key>
	<real>30</real>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>275</real>
		<key>totalProgress</key>
		<real>84</real>
		<key>totalTargetCount</key>
		<real>84</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 573}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
